body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#cabecalho{
    background-color: paleturquoise;
    border: black 2px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin: 30px;
    box-shadow: black 2px 2px 5px;
}

#conteudo{
    background-color: plum;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a{
    color: blue;
    text-decoration: unset;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#covid {
    width: 100%;
    
}

#titulodestaque {
    display: flex;
    justify-content: center;
    
}


}

